* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FF9070;
}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #5fa792;
    font-size: 2rem;
    color: #FF9070;
    margin-top: 10vh;
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 6px 4px 6px 4px black;
}

.count-display{
    flex-basis: 70%;
}

.count-display{
    flex-basis: 30%;
}

.myButton {
    background-color: #FF9070;
    display: inline-block;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #252424;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 1px 1px 1px 1px black;
}

.myButton:hover,
.myButton:focus {
    background-color: #F082AC;
}



@media screen {}